/*footer,{
    height: 50px;
}*/
footer {
    border-top: 1px solid white;
    /*clear: both;*/
    color: white;
    /*margin-top: 6%;*/
    background-color: transparent;
    /*position: relative;
    bottom: 0;
    left: 0;
    right:0;
    margin-top: -30rem;*/
    padding: 1.5rem;

    a {
        color: #FFC426;

        &:hover {
            text-decoration: none;
            color: #FFFF26;
        }
    }

    .footer-contact {
        background-color: transparent;
        //        margin: 0 auto;
        .footer-contact-table {
            display: table;
            text-align: left;
            margin: 0 auto;

            .table-cell {
                display: table-cell;
                padding: 0 15px;
                vertical-align: top;
                line-height: 1.75;
                /*border-right: 1px solid white;*/
            }
        }
    }

    .footer-copy {
        background-color: transparent;
        padding: 15px 0 10px;
        font-size: 11px;
        /*border-top: 1px solid #ccc;*/
    }
}

@media (max-width: 767px) {
    footer .footer-contact .footer-contact-table .table-cell {
        font-size: 0.75em;
    }
}

@media (min-width: 768px) and (max-width:1083px) {

}