#mainNav {
    // BACKGROUND COLOR GRADIENT

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f1f6+0,b1cceb+100 */

    /*background: rgb(230, 241, 246);
    background: -moz-linear-gradient(-45deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    background: linear-gradient(135deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f6', endColorstr='#b1cceb', GradientType=1);*/
    background-color:RGBA(0,119,176,0.5);
   
    padding: 0.7em 0;
    box-shadow: 0 -1px 4px RGBA(0,0,0,0.6), 0 1px 16px rgba(34,25,25,0.4);


    .navbar-brand {
        text-transform: uppercase;

        img {
            position: relative;
            top: -15px;
            display: inline;
            height: auto;
            width: 2em;
        }
        &:hover {
            text-decoration: none !important;
        }
    }

    li a:not(span), a.navbar-brand {
        color: #F9FDFC;
        font-size: 1.2em;
        font-family: 'Varela Round',sans-serif;

        &:hover {
            background-color: transparent;
            color: #abcdef;
            /*text-decoration-style:wavy;*/
            /*text-decoration: underline;*/
            /*background-color: rgba(255, 255, 255, 0.5);*/
            transition: 0.25s;

        }
    }
}
.logo-navbar-brand{

}
.navbar-toggle {
    background-color: white;

    .icon-bar {
        background-color: black;
    }
}
