<connectionStrings>
  <add name="WeirdEnsemble_9-10-17_DB"
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WeirdEnsemble_9-10-17_DB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
      providerName="System.Data.SqlClient"/>
  <add name="Entities" connectionString="metadata=res://*/Models.WeirdEnsembleModel.csdl|res://*/Models.WeirdEnsembleModel.ssdl|res://*/Models.WeirdEnsembleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=WeirdEnsemble_9-10-17_DB;integrated security=True;connect timeout=60;encrypt=False;trustservercertificate=True;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WeirdEnsemble_9-10-17_DB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
</connectionStrings>