<connectionStrings>
  <add name="WeirdEnsembleDB"
      connectionString="Data Source=weirdensemble.database.windows.net;Initial Catalog=WeirdEnsembleDB;Integrated Security=False;User ID=pgoldman0805;Password=Em!ly0aks1;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
  <add name="Entities" connectionString="metadata=res://*/Models.WeirdEnsembleModel.csdl|res://*/Models.WeirdEnsembleModel.ssdl|res://*/Models.WeirdEnsembleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=WeirdEnsemble_9-10-17_DB;integrated security=True;connect timeout=60;encrypt=False;trustservercertificate=True;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=weirdensemble.database.windows.net;Initial Catalog=WeirdEnsembleDB;Integrated Security=False;User ID=pgoldman0805;Password=Em!ly0aks1;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
</connectionStrings>