<connectionStrings>
  <add name="WeirdEnsembleDB"
      connectionString="Data Source=weirdensemble.database.windows.net;Initial Catalog=WeirdEnsembleDB;Integrated Security=False;User ID=pgoldman0805;Password=Em!ly0aks1;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
  <add name="Entities" connectionString="metadata=res://*/Models.WeirdEnsembleModel.csdl|res://*/Models.WeirdEnsembleModel.ssdl|res://*/Models.WeirdEnsembleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:weirdensemble.database.windows.net,1433;Initial Catalog=WeirdEnsembleDB;Persist Security Info=False;User ID=pgoldman0805;Password=Em!ly0aks1;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=weirdensemble.database.windows.net;Initial Catalog=WeirdEnsembleDB;Integrated Security=False;User ID=pgoldman0805;Password=Em!ly0aks1;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
</connectionStrings>