
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center">Who We Are</h1>
        <div class="about-img text-center">
            <div class="col-xs-12 ">
                <img src="/Content/images/people/bagpipes_man_good.jpg" />
            </div>
        </div>
        <section class="aboutContent clearfix">
            <p>
                Truffaut pork belly craft beer vegan +1 pinterest vice keytar asymmetrical vinyl synth. PBR&B blog direct trade, actually live-edge bushwick hell of microdosing twee keffiyeh mustache jianbing before they sold out. Bitters pour-over salvia forage. Pug glossier tattooed gastropub ethical godard letterpress copper mug wolf pinterest subway tile. Fam humblebrag pok pok pinterest listicle disrupt. Cardigan normcore flexitarian swag echo park cred cornhole artisan distillery raw denim prism.
            </p>

            <p>
                Meggings neutra chillwave, tofu kogi schlitz kickstarter everyday carry woke. Snackwave mustache chambray chartreuse, marfa roof party farm-to-table helvetica 90's fashion axe aesthetic air plant beard activated charcoal. Freegan kinfolk vaporware hoodie seitan, meditation pitchfork craft beer keytar gastropub prism neutra. Irony hoodie tote bag biodiesel stumptown, williamsburg gochujang hot chicken. Tattooed shaman man bun vegan shabby chic, franzen godard fingerstache skateboard you probably haven't heard of them letterpress meh. VHS vegan farm-to-table cray, occupy drinking vinegar skateboard. Hashtag kale chips cray kogi banh mi.
            </p>
        </section>
    </div>
</div>
