
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center page-title">About WeirdEnsemble</h1>
        <div class="about-img text-center">
            <div class="col-xs-12 ">
                <img src="/Content/images/people/bagpipes_man_good.jpg" />
            </div>
        </div>
        <section class="aboutContent clearfix">
            <p>
               Do you have an ear for the bizarre? A taste for the comically ridiculuous? Are you tired of your coworkers' blank stares when you bust out your kazoo? Do you dream of a land where bagpipes, banjos, vuvuzelas, and keytars can work together in splendid harmony? 
            </p>

            <p>
                We at WeirdEnsemble have the same dream! Finally, there is a home for the seeker of less common sonic experiences. Let WeirdEnsemble.com be your one-stop shop for funny, annoying, and (ahem) WEIRD musical instruments!
            </p>
        </section>
    </div>
</div>
