#mainNav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f1f6+0,b1cceb+100 */
  /*background: rgb(230, 241, 246);
    background: -moz-linear-gradient(-45deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    background: linear-gradient(135deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f6', endColorstr='#b1cceb', GradientType=1);*/
  background-color: #0072C6;
  box-shadow: 0 -1px 4px RGBA(0, 0, 0, 0.6), 0 1px 16px rgba(34, 25, 25, 0.4); }
  #mainNav .navbar-brand {
    text-transform: uppercase; }
    #mainNav .navbar-brand img {
      display: inline;
      height: 100%;
      width: 1em; }
    #mainNav .navbar-brand:hover {
      text-decoration: none !important; }
  #mainNav li a:not(span), #mainNav a.navbar-brand {
    color: #F9FDFC; }
    #mainNav li a:not(span):hover, #mainNav a.navbar-brand:hover {
      background-color: transparent;
      opacity: 0.7;
      /*text-decoration-style:wavy;*/
      /*text-decoration: underline;*/
      /*background-color: rgba(255, 255, 255, 0.5);*/
      transition: 0.25s; }

.navbar-toggle {
  background-color: white; }
  .navbar-toggle .icon-bar {
    background-color: black; }

footer {
  background-color: #fff; }
  footer .footer-contact {
    background-color: #EFEFEF; }
    footer .footer-contact .footer-contact-table {
      display: table;
      text-align: left;
      margin: 0 auto; }
      footer .footer-contact .footer-contact-table .table-cell {
        display: table-cell;
        padding: 0 15px;
        vertical-align: top;
        line-height: 1.75; }
  footer .footer-copy {
    padding: 15px 0 10px;
    font-size: 11px;
    border-top: 1px solid #ccc; }

p.register-password-text {
  font-size: 0.8em; }

.inline {
  display: inline; }

.forgot-password {
  margin-top: 1.2em; }

.panel-body {
  height: auto;
  min-height: 350px;
  height: auto !important;
  /* for IE as it does not support min-height */
  /*    height: 300px;*/
  /*outline: 1px solid #222;*/ }
  .panel-body:hover {
    outline: 1px solid black; }

.product-panel-link {
  color: black; }

.productPrice h6 {
  color: green;
  font-size: 2em; }

.productImg {
  /*    margin: 1.5em;*/
  width: 50%;
  /*height: auto;*/
  /*max-height: 150px;*/
  min-height: 150px;
  max-height: 200px;
  display: block;
  /*outline: 1px solid black;*/
  box-shadow: 1px 4px 15px lightgray;
  margin: 0 auto;
  padding: 2px;
  margin-bottom: 2em; }

.productBrand {
  margin-top: -0.15em;
  text-transform: uppercase; }

.productDesc {
  margin-top: 0.75em;
  text-align: justify; }

.gold {
  color: #c9b800; }

.tiny-star {
  font-size: 0.5em; }

h1.title {
  background-color: dodgerblue;
  color: white; }

.about-img {
  margin-bottom: 1em; }
  .about-img img {
    width: 30%;
    min-width: 200px;
    padding: 2em; }

.aboutContent {
  padding: 0 2em;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2em 0; }
  .aboutContent p {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    text-align: justify;
    font-size: 1.15em;
    margin-top: 1.5em;
    line-height: 2; }

details-title {
  margin-top: 6%; }

.price-container {
  color: #d54140;
  font-weight: 600;
  font-size: 1.5em;
  display: inline-table; }

.dollars {
  font-size: 200%;
  position: relative;
  top: 10px; }

.desc-container {
  margin-top: 4%; }
  .desc-container p {
    line-height: 2;
    letter-spacing: 1px; }

button.detail-button {
  width: 70%; }

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s; }

button.accordion.active, button.accordion:hover {
  background-color: #ddd; }

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

button.accordion.active:after {
  content: "\2212"; }

div.review-container {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.checkout-table {
  border: 1px solid black; }

.checkout-info-container .panel-body {
  height: auto;
  min-height: 0; }
  .checkout-info-container .panel-body:hover {
    outline: none; }

.body-content {
  margin-top: 6%; }

