#mainNav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f1f6+0,b1cceb+100 */
  /*background: rgb(230, 241, 246);
    background: -moz-linear-gradient(-45deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    background: linear-gradient(135deg, rgba(230, 241, 246, 1) 0%, rgba(177, 204, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1f6', endColorstr='#b1cceb', GradientType=1);*/
  background-color: #0072C6;
  box-shadow: 0 -1px 4px RGBA(0, 0, 0, 0.6), 0 1px 16px rgba(34, 25, 25, 0.4); }
  #mainNav .navbar-brand {
    text-transform: uppercase; }
    #mainNav .navbar-brand img {
      display: inline;
      height: 100%;
      width: 1em; }
    #mainNav .navbar-brand:hover {
      text-decoration: none !important; }
  #mainNav li a:not(span), #mainNav a.navbar-brand {
    color: #F9FDFC;
    font-weight: bold; }
    #mainNav li a:not(span):hover, #mainNav a.navbar-brand:hover {
      background-color: transparent;
      opacity: 0.75;
      /*text-decoration-style:wavy;*/
      /*text-decoration: underline;*/
      /*background-color: rgba(255, 255, 255, 0.5);*/
      transition: 0.5s; }

.navbar-toggle {
  background-color: white; }
  .navbar-toggle .icon-bar {
    background-color: black; }

footer {
  background-color: #fff; }
  footer .footer-contact {
    background-color: #EFEFEF; }
    footer .footer-contact .footer-contact-table {
      display: table;
      text-align: left;
      margin: 0 auto; }
      footer .footer-contact .footer-contact-table .table-cell {
        display: table-cell;
        padding: 0 15px;
        vertical-align: top;
        line-height: 1.75; }
  footer .footer-copy {
    padding: 15px 0 10px;
    font-size: 11px;
    border-top: 1px solid #ccc; }

p.register-password-text {
  font-size: 0.8em; }

.inline {
  display: inline; }

.forgot-password {
  margin-top: 1.2em; }

.panel-body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7efff+0,f8f3ff+50,f7f1ff+60,faf7ff+100 */
  background: #f7efff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7efff 0%, #f8f3ff 50%, #f7f1ff 60%, #faf7ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f7efff 0%, #f8f3ff 50%, #f7f1ff 60%, #faf7ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f7efff 0%, #f8f3ff 50%, #f7f1ff 60%, #faf7ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7efff', endColorstr='#faf7ff', GradientType=0);
  /* IE6-9 */
  height: auto;
  min-height: 350px;
  height: auto !important;
  /* for IE as it does not support min-height */
  /*    height: 300px;*/
  /*outline: 1px solid #222;*/ }

.productImg {
  /*    margin: 1.5em;*/
  width: 100%;
  height: auto;
  max-height: 150px;
  display: block;
  /*outline: 1px solid black;*/
  box-shadow: 1px 4px 15px lightgray;
  margin: 1em 0 2em 0;
  padding: 2px; }

.productBrand {
  margin-top: -0.15em; }

.productDesc {
  margin-top: 0.75em;
  text-align: justify; }

.gold {
  color: #c9b800; }

.tiny-star {
  font-size: 0.5em; }

h1.title {
  background-color: dodgerblue;
  color: white; }

.about-img {
  margin-bottom: 1em; }
  .about-img img {
    width: 30%;
    min-width: 200px;
    padding: 2em; }

.clearfix {
  clear: both; }

.aboutContent {
  padding: 0 2em;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 2em 0; }
  .aboutContent p {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    text-align: justify;
    font-size: 1.15em;
    margin-top: 1.5em;
    line-height: 2; }

.price-container {
  color: #d54140;
  font-weight: 600;
  font-size: 1.5em;
  display: inline-table; }

.dollars {
  font-size: 200%;
  position: relative;
  top: 10px; }

.desc-container {
  margin-top: 4%; }
  .desc-container p {
    line-height: 2;
    letter-spacing: 1px; }

.body-content {
  margin-top: 5%; }

