@model WeirdEnsemble2.Models.ProductReview

<div class="row">
    @for (var i = 0; i < Model.Rating; i++)
    {
        <span class="glyphicon glyphicon-star gold" aria-hidden="true"></span>
    }
    <span class="review-firstname"> @Model.Customer.FirstName</span> | Created (@DateTime.Now.Subtract(Model.DateCreated).Days.ToString()) days ago
    <p>@Model.Comments</p>
</div>
<hr/>


