@model WeirdEnsemble2.Models.Product

@{
    ViewBag.Title = Model.Brand + " " + Model.Name;
}

<h2 class="text-center">@(Model.Brand + " " + Model.Name)</h2>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img class="product-image img-responsive" src= "@(Model.ImagePath)"/>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="price-container">
            <span class="dollar-sign">$</span>
            <span class="dollars">@(Model.Price.ToString().Split('.')[0])</span>
            <span class="cents">.@(Model.Price.ToString().Split('.')[1])</span>
        </div>
        <div id="desc-container">
            <h3 class="desc-title">Product Description</h3>
            <p>@Model.Description</p>
        </div>
        
    </div>
</div>