@model IEnumerable<WeirdEnsemble2.Models.Product>

@{
    ViewBag.Title = "Products";
}
@if (TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<div class="row">
    <h2 class="text-center">Products</h2>
   @foreach (var p in Model)
   {
       @Html.Partial("_ProductContainer",p);

   }
</div>