@{
    ViewBag.Title = "Home";
}
@if (TempData.ContainsKey("ContactConfirmation"))
{
    <div class="alert alert-success">
        @TempData["ContactConfirmation"]
    </div>
}

<div class="home-banner-container">
    <img src="~/Content/images/bg/WeirdEnsembleBanner.png" alt="The Home Banner for WeirdEnsemble.com" class="img-responsive"/>
</div>
<div class="jumbotron home-jumbotron">
    <h1 class="text-center home-title">Home of the strangest and funniest musical instruments!</h1>
</div>