@{
    ViewBag.Title = "Contact";
}

<div class="row" id="contact">
    <h2 class="text-center">CONTACT</h2>
    <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
        <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
    </div>
    <div class="col-sm-7">
        
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <input class="form-control" name="fname" placeholder="First Name" type="text" required>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input class="form-control" name="lname" placeholder="Last Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" name="comment" placeholder="Comment" rows="5"></textarea>
                <button class="btn btn-info pull-right" type="submit">Send</button>
            }

        @*<br>
        <div class="row">
            <div class="col-sm-12 form-group">
                <button class="btn btn-info pull-right" type="submit">Send</button>
            </div>
        </div>*@
    </div>
</div>