
@{
    ViewBag.Title = "Forgot Password";
}

<div class="row">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
    }
    <p>Please enter the email address associated with your account. If the account exists, we'll send you an email with instructions to reset your password. </p>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="email">Email Address</label>
            @Html.TextBox("email","",new { @class="form-control", placeholder="Email address"})
        </div>
        <input type="submit" class="btn btn-default" />

    }
</div>