
@{
    ViewBag.Title = "ForgotPasswordSent";
}

<div class="alert alert-info">
    <p>We've sent instructions for resetting your password to the email address you've provided.</p>
    
</div>

@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default"})