
@{
    ViewBag.Title = "Reset Password";
}

<div class="row">
    @if (ViewBag.Errors != null)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>Enter your new password</p>
        <div class="form-group">
            <label for="newPassword" class="control-label">Password</label>
            @Html.Password("newPassword","",new { @class="form-control", placeholder = "password"})
        </div>
        <input type="submit" value="Change password" class="btn btn-default" />
    }
</div>

