.checkout-table{
background-color: white;

}

.checkout-form {
    color: #333;
}
.checkout-info-container{
    .panel-heading {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;
    }
    .panel-body{
        height: auto;
        min-height: 0;
        &:hover{
            outline: none;
        }
    }
}