.product-image {
    width: 100%;
    /*max-width: 500px;*/
    /*height: auto;*/
    max-height: 450px;
}
details-title {
    margin-top: 6%;
}
.price-container {
    text-shadow: 3px 3px black;
    color: #f7cfc0;
    font-weight: 600;
    font-size: 1.5em;
    display: inline-table;
}

/*.review-button{

    border: 11px solid white;
    color: black;
}*/
.dollars {
    font-size: 200%;
    position: relative;
    top: 10px;
}

.desc-container {
    margin-top: 4%;

    p {
        line-height: 2;
        letter-spacing: 1px;
    }
}

button.detail-button{
}
button.accordion {
    background-color: #eee;
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.review-container {
    padding: 0 18px;
    color: black;
    /*background-color: white;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media (max-width: 767px){
    .detail-button {
        padding: 2em;
    }
}