
.panel-body {
    &:hover {
        /*outline: 1px solid black;*/
    }

    height: auto;
    min-height: 300px;
    height: auto !important;
    /* for IE as it does not support min-height */
    /*    height: 300px;*/
    /*outline: 1px solid #222;*/
}

.product-panel-link{
    color: black;
    &:hover{
        text-decoration: none;
    }

}
.productPrice h6 {
    color: green;
    font-size: 2em;
    &:hover{
        text-decoration: none;
    }

}
.productImg {
    /*    margin: 1.5em;*/
    width: 50%;
    /*height: auto;*/
    /*max-height: 150px;*/
    min-height: 125px;
    max-height: 150px;

    
    display: block;
    /*outline: 1px solid black;*/
    box-shadow: 1px 4px 15px lightgray;
    margin: 0 auto;
    padding: 2px;
    margin-bottom: 2em;

}


.productBrand {
    margin-top: -0.15em;
    text-transform: uppercase;
}

.productDesc {
    margin-top: 0.75em;
    text-align: justify;
}

.gold {
    color: #c9b800;
}

.tiny-star{
    font-size: 0.5em;
}